Django==1.7
pytz==2014.7
pylibmc==1.3.0
psycopg2==2.5.4
Pillow==2.6.0
dj-database-url==0.3.0

# Assets
blanc-basic-assets==0.3

# Thumbnailing
easy-thumbnails==2.1

# Pages
blanc-pages==0.6
django-mptt==0.6.1
django-mptt-admin==0.1.9

# Blocks
blanc-pages-redactor-block==0.6
django-redactorjs-staticfiles==9.2.6
blanc-pages-form-block==0.3.1
blanc-pages-image-block==0.2.1
