Django==1.7.10
pytz==2015.6
pylibmc==1.5.0
psycopg2==2.6.1
Pillow==2.9.0
dj-database-url==0.3.0
raven==5.7.2

# Storage
apache-libcloud==0.17.0
dj-libcloud==0.2.0
blanc-contentfiles==0.1.1

# Assets
blanc-basic-assets==0.3

# Thumbnailing
easy-thumbnails==2.2

# News
blanc-basic-news==0.3

# Pages
django-mptt==0.7.4
django-mptt-admin==0.3.0
six==1.9.0
blanc-basic-pages==0.3.2

# Events
icalendar==3.9.1
python-dateutil==2.4.2
blanc-basic-events==0.3.2

# Data
djangochurch-data==0.1
