button,
input[type='submit'] {
    appearance: none !important;
    font-family: $base-font !important;
    border: none !important;
    cursor: pointer;
    background: inherit;
}

.button {
    display: inline-block;
    padding: 0 1rem;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background: $color-primary;
    color: $color-white;

    &:hover,
    &:focus {
        background: darken($color-primary, 2.5%);
    }

    &.button--secondary {
        background: $color-secondary;
        color: $color-white;

        &:hover,
        &:focus {
            background: darken($color-secondary, 2.5%);
        }
    }

    &.button--outline {
        background: none;
        border: 0.125rem solid $color-primary;
        line-height: 1.75rem;
        color: $color-black !important;

        &:hover,
        &:focus {
            background: $color-primary;
            color: $color-white;
        }
    }
}
