.logo {
    display: inline-block;
    width: 12.5rem;
    height: 0;
    vertical-align: top;
    padding-bottom: 6.5rem;
    background: url(../img/logo.png) left center/contain no-repeat;

    &.header__logo {
        width: 6.75rem;
        padding-bottom: 4rem;

        @include mobile {
            width: 12.5rem;
            padding-bottom: 6.5rem;
        }
    }
}
