img,
video {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.video__container,
.rich-text .responsive-object {
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;

    video,
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

figure {
    position: relative;
    margin: 3rem 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 30rem;
    }

    figcaption {
        display: block;
        vertical-align: top;
        padding: 0.75rem;
        background: $color-primary;
        color: $color-white;
        font-size: 0.875rem;
    }
}
