@import 'radio_checkbox';

form {
    input:not([type='checkbox']):not([type='radio']):not([type='submit']),
    textarea,
    select,
    button {
        appearance: none;
        width: 100%;
        margin: 0.75rem 0 0;
        padding: 0.75rem;
        border: 0.125rem solid $color-grey;
        border-radius: 0;
        background: $color-white;
        font-size: inherit;
        font-family: inherit;
        line-height: 1.25rem;
        -webkit-font-smoothing: antialiased;
    }

    select {
        padding-right: 2.25rem;
        appearance: none !important;
        background: url(../../sprite/svg/chevron_down.svg) calc(100% - 0.625rem) 0.75rem / 1.25rem
            no-repeat;

        &::-ms-expand {
            display: none;
        }
    }

    textarea {
        max-height: 12.5rem;
        resize: none !important;
    }

    fieldset {
        margin-bottom: 1.5rem;
        padding: 0;
        border: none;

        legend {
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
        }
    }

    .field {
        margin: 1.25rem 0;
    }

    .field-label {
        font-weight: 600;
    }

    .help-inline,
    .help-block {
        display: block;
        vertical-align: top;
        padding: 0.75rem;
        background: $color-primary;
        color: $color-white;
        font-size: 0.875rem;
    }

    .errorlist {
        @include unstyled-list;

        margin-bottom: 1.5rem;
        color: $color-primary;
        font-weight: bold;
    }
}
