@import 'normalize/import-now';

@import 'variables';
@import 'typography';
@import 'accessibility';

@import 'mixins/mixins';

@import 'layout/layout';
@import 'elements/elements';
@import 'forms/forms';

* {
    box-sizing: border-box;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}
