:focus {
    outline: 0.1875rem solid $color-secondary;

    // Used on elements with border-radius
    &.focus--box-shadow {
        outline: none;
        box-shadow: 0 0 0 -0.1875rem $color-secondary;
    }
}

#nav-toggle:focus ~ .header__container .nav-toggle {
    .nav-toggle__open .icon,
    .nav-toggle__close .icon {
        fill: $color-secondary;
    }
}
