.sr__text,
.sr__input,
.sr__label {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

:focus {
    outline: 0.1875rem solid $color-primary;

    // Used on elements with border-radius
    &.focus--box-shadow {
        outline: none;
        box-shadow: 0 0 0 -0.1875rem $color-primary;
    }
}

#nav_toggle:focus ~ .mobile-header {
    .nav-open .icon,
    .nav-close .icon {
        fill: $color-primary;
    }
}
