// Colors
$color-primary: #00e0ba !default;
$color-secondary: #c5c5c5 !default;

$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-grey: #a0a0a0 !default;
$color-grey-light: #d3d3d3 !default;
