// Base sizes
$base-font-size: 1rem !default;
$base-line-height: 1.5 !default;
$base-font: 'Open Sans';

// Colors
$color-primary: #323134 !default;
$color-secondary: #bcbcbc !default;

$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-grey: #a0a0a0 !default;
$color-grey-light: #d3d3d3 !default;

// Size
$width-container: 60rem !default;
