// Base sizes
$base-font-size: 1rem !default;
$base-line-height: 1.5 !default;
$base-font: 'Open Sans';

// Size
$width-container: 60rem !default;
$width-block: 45rem !default;

// Sacing
$spacing-block: 5rem !default;

// Responsive breakpoints
$breakpoint-mobile-large: 460px;
$breakpoint-tablet: 640px;
$breakpoint-desktop: 960px;
$breakpoint-desktop-large: 1280px;
