// Colours
$admin-grey: #4d4d4d;
$admin-white-salmon: #fcf2f2;
$admin-white: #ffffff;
$admin-black: #000000;

.model_chooser .chosen::before,
.model_chooser .unchosen::before {
    content: '\f02c';
    font-family: FontAwesome;
    font-style: normal;
}

.fields .spaced-help-panel {
    padding-bottom: 0;
}

.translation-confirmation {
    background: darken($admin-white-salmon, 1.25%);
}

.collapse-expand-block {
    cursor: pointer;
    user-select: none;

    > * {
        pointer-events: none;
    }
}

.sequence-member-inner {
    padding: 0 !important;

    .fields {
        padding: 1em !important;
    }

    .fields.collapsed {
        height: 0;
        overflow: hidden;
        margin-top: -1.5rem;
        padding: 0 !important;
    }

    .url-picker {
        padding: 0 !important;
    }
}

.admin-block-header {
    overflow: hidden;
    padding: 1em;
    margin-bottom: 0;
}

.admin-column-block {
    .columns-block,
    .sequence-container {
        width: 100% !important;

        .fields {
            width: 100% !important;
        }
    }

    .columns-block {
        padding: 1em !important;
        background: $admin-black;

        > li {
            padding: 0;
        }
    }

    .sequence-container-inner {
        background: $admin-white;
    }
}

.column-block-label {
    display: block;
    float: none;
    width: 100%;
    padding: 1em;
    background: $admin-grey;
    color: $admin-white;

    &:nth-of-type(n + 2) {
        margin-top: 2em;
    }
}
