.button,
.btn {
    display: inline-block;
    padding: $width-gap / 2;
    text-decoration: $style-button;
    background: $color-primary;
    color: #fff;

    &:hover { background: lighten($color-primary, 2.5%); }

    &.secondary {
        background: $color-secondary;
        color: #fff;

        &:hover { background: lighten($color-secondary, 2.5%); }
    }
}
