img,
video {
    width: 100%;
    height: auto;
    vertical-align: top;
}

figure {
    margin: 0;
}

figcaption {
    display: block;
    vertical-align: top;
    padding: 0.75rem;
    background: $color-primary;
    color: $color-white;
    font-size: 0.875rem;
}
