.footer .container {
    padding: 1.5rem;
}

.footer__legal {
    font-size: 0.875rem;
}

.footer__social {
    margin-left: auto;

    .social {
        margin: 1.5rem 0 0 0;
    }

    @media all and (min-width: 768px) {
        display: flex;

        .social {
            margin: 0 0 0 auto;
        }
    }
}

.footer__copyright {
    color: $color-grey;
}
