.demo-announcement {
    padding: 0.75rem 0;
    background: #000000;
    color: #ffffff;
    text-align: center;
}

.page-header {
    padding: $width-gap 0;
}

.page-header__buttons {
    margin-left: auto;
}
