.demo-announcement {
    padding: $width-gap/2 0;
    background: #000000;
    color: #ffffff;
    text-align: center;
}

.page-header {
    a {
        text-decoration: none;
        user-select: none;
    }
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-brand {
    margin-right: auto;
    flex-shrink: 0;

    .nav-logo {
        display: inline-block;
        margin-right: $width-gap;

        // Sample logo styles, replace with image in production
        font-size: 3rem;
        font-weight: bold;
        padding: $width-gap/2 0;
    }
}

.nav-primary__holder {
    display: none;
    padding: $width-gap 0;
    margin-left: auto;

    .nav-primary {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            display: inline-block;
            padding: $width-gap/2 0;
            border-bottom: 3px solid transparent;
        }

        li + li {
            margin-left: $width-gap * 1.5;
        }

        .active a {
            border-color: $color-primary;
        }
    }

    @include desktop {
        display: block;
    }
}

.nav-toggle {
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    margin-left: $width-gap;

    .nav-open,
    .nav-close {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;

        .icon {
            margin-left: $width-gap/4;
            flex-shrink: 0;
        }
    }

    .nav-close {
        display: none;
    }

    @include desktop {
        display: none;
    }
}

.nav-mobile__holder {
    display: none;
    padding: $width-gap;
    background: $color-line;

    .nav-mobile {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    @include desktop {
        display: none !important;
    }
}

#nav_toggle:checked {
    ~ .nav-mobile__holder {
        display: flex;
    }

    ~ .nav-container {
        .nav-open {
            display: none;
        }

        .nav-close {
            display: inline-flex;
        }
    }
}
