.demo-announcement {
    padding: 0.75rem 0;
    background: $color-primary;
    color: $color-white;
    text-align: center;
}

.header__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 1rem 1.5rem;

    @include mobile {
        padding: 1.5rem;
    }
}
