.nav--desktop {
    display: none;
    width: 100%;
    user-select: none;
    font-weight: 400;

    ul {
        @include unstyled-list;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    li + li {
        margin-left: 1.5rem;
    }

    a {
        padding: 0.25rem 0.5rem;
    }

    @media all and (min-width: 768px) {
        display: block;
    }
}

.nav--mobile {
    padding: 1.5rem 0;
    display: none;
    user-select: none;

    ul {
        @include unstyled-list;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    li + li {
        margin: 1.5rem 0 0 0;
    }

    a {
        padding: 0.25rem 0.5rem;
    }

    @media all and (min-width: 768px) {
        display: none;
    }
}

.nav-toggle {
    margin-left: auto;
    cursor: pointer;

    .nav-toggle__open {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .nav-toggle__close {
        display: none;
    }

    .icon {
        margin-left: 0.25em;
    }

    @media all and (min-width: 768px) {
        display: none;
    }
}

@media all and (max-width: 768px) {
    #nav-toggle:checked {
        ~ .header__container .nav-toggle {
            .nav-toggle__open {
                display: none;
            }
            .nav-toggle__close {
                display: inline-flex;
            }
        }

        ~ .nav--mobile {
            display: block;
        }
    }
}
