<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Object not found!</title>
    <style type="text/css">
      body { color: #000000; background-color: #ffffff; }
      p { margin-left: 3em; }
      .server-info { font-size: smaller; font-style: italic; }
    </style>
  </head>
  <body>
    <h1>Object not found!</h1>

    <p>The requested URL was not found on this server.<p>

    <p>If you entered the URL manually please check your spelling and try again.</p>

    <h2>Error 404</h2>

    <p>
      <span class="server-info">
        {{ request.get_host }}<br />
        {% now "r" %}
      </span>
    </p>
  </body>
</html>
