<!DOCTYPE html>

{% load i18n %}

<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
  <head>
    <title>{% trans 'Server error!' %}</title>
    <style type="text/css">
      body { color: #000000; background-color: #ffffff; }
      p { margin-left: 3em; }
      .server-info { font-size: smaller; font-style: italic; }
    </style>
  </head>
  <body>
    <h1>{% trans 'Server error!' %}</h1>

    <p>{% trans 'The server encountered an internal error and was unable to complete your request.' %}</p>

    <h2>{% trans 'Error 500' %}</h2>

    <p>
      <span class="server-info">
        {{ request.get_host }}<br />
        {% now 'r' %}
      </span>
    </p>

    {% if sentry_dsn and sentry_event_id %}
      <script src="https://browser.sentry-cdn.com/5.6.3/bundle.min.js" integrity="sha384-/Cqa/8kaWn7emdqIBLk3AkFMAHBk0LObErtMhO+hr52CntkaurEnihPmqYj3uJho" crossorigin="anonymous"></script>
      <script>
        Sentry.init({dsn: '{{ sentry_dsn }}'});
        Sentry.showReportDialog({eventId: '{{ sentry_event_id }}'});
      </script>
    {% endif %}
  </body>
</html>
