<!DOCTYPE html>

{% load staticfiles %}
{% load wagtailuserbar %}

<html lang="en">
  <head>
    <title>
      {% block title %}{{ request.site.site_name }}{% endblock %}
    </title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    {% if BROWSERSYNC_URL %}
      <script src="{{ BROWSERSYNC_URL }}" async></script>
    {% endif %}

    {{ settings.settings.HeaderHTML.html|safe }}
  </head>

  <body>
    {% wagtailuserbar %}
    {% include 'includes/sprite.html' %}

    <header class="header">
      {% include 'includes/nav.html' %}
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer class="footer inverted">
      {% includce 'includes/footer.html' %}
    </footer>

    {{ settings.settings.FooterHTML.html|safe }}
  </body>
</html>
