<!DOCTYPE html>

{% load staticfiles %}


<html lang="en">
  <head>
    <title>
      {% block title %}{{ request.site.site_name }}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'dist/css/styles.css' %}" rel="stylesheet">

    {% if BROWSERSYNC_URL %}
      <script async src="{{ BROWSERSYNC_URL }}"></script>
    {% endif %}
  </head>
  <body>
    {% include 'includes/sprite.html' %}

    <header class="page-header">
      {% include 'includes/header.html' %}
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer class="page-footer">
      {% include 'includes/footer.html' %}
    </footer>
    <script src="{% static 'dist/js/main.js' %}"></script>
  </body>
</html>
