<!DOCTYPE html>

{% load staticfiles %}
{% load wagtailuserbar %}

{% load i18n %}

<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} >
  <head>
    <title>
      {% block title %}{{ request.site.site_name }}{% endblock %}
    </title>
    <link href="{% static 'dist/css/styles.css' %}" rel="stylesheet">
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}" />

    {% include 'includes/meta.html' %}

    {% if BROWSERSYNC_URL %}
      <script src="{{ BROWSERSYNC_URL }}" async></script>
    {% endif %}

    {{ settings.settings.HeaderHTML.html|safe }}
  </head>

  <body>
    {% wagtailuserbar %}

    <div id="sprite" style="position: absolute; width: 0; height: 0; overflow: hidden;">
      {% include 'includes/sprite.html' %}
    </div>

    {% if DEMO_SITE %}
      <div class="demo-announcement">
        <div class="container">{% trans 'This site is in development. Any changes made here will not be transferred to the production build.' %}</div>
      </div>
    {% endif %}

    <header class="header">
      {% include 'includes/header.html' %}
    </header>

    <main class="main">
      {% block main %}{% endblock %}
    </main>

    <footer class="footer inverted">
      {% include 'includes/footer.html' %}
    </footer>

    {{ settings.settings.FooterHTML.html|safe }}

    <script src="{% static 'dist/js/base.js' %}"></script>

    {% block extra_scripts %}
    {% endblock extra_scripts %}
  </body>
</html>
