<!DOCTYPE html>

{% load glitter %}
{% load staticfiles %}

<html lang="en">
  <head>
    {% glitter_head %}

    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    {% if BROWSERSYNC_URL %}
      <script src="{{ BROWSERSYNC_URL }}" async></script>
    {% endif %}
  </head>
  <body>
    {% glitter_startbody %}
    {% include 'includes/sprite.html' %}

    <header class="page-header">
      {% include 'includes/nav.html' %}
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer class="page-footer inverted">
      <div class="container">
        <div class="row">
          <div class="page-footer__legal column-8">
            <div class="footer__brand">
              <a href="/" class="page__logo"></a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, ullam quae minima?</p>
            <p class="footer__copyright">&copy; {% now 'Y' %}. Website by <a href="https://dev.ngo">The Developer's Society</a></p>
          </div>

          <div class="page-footer__social column-4">
            {% include 'includes/social.html' %}
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
