{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    {% block starthead %}{% endblock %}
    <title>{% block title %}Website{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    {# NOTE: Remove IE conditional comments if you're using Modernizr for more than the html5shiv #}
    <!--[if lt IE 9]>
        <script src="{% static 'js/modernizr.js' %}"></script>
    <![endif]-->
</head>
<body>
    {% block startbody %}{% endblock %}
    {% block main %}{% endblock %}
</body>
</html>
