<!DOCTYPE html>

{% load staticfiles %}
{% load glitter %}

<html lang="en">
    <head>
        {% glitter_head %}

        <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
        <link href="{% static 'css/styles.min.css' %}" rel="stylesheet" />

        {# NOTE: Remove IE conditional comments if you're using Modernizr for more than the html5shiv #}
        <!--[if lt IE 9]>
            <script src="{% static 'js/modernizr.js' %}"></script>
        <![endif]-->
    </head>
    <body>
        {% glitter_startbody %}

        {% block main %}{% endblock %}
    </body>
</html>
