{% extends "base.html" %}
{% load blancpages %}


{% block title %}{{ blanc_page.page.title }} - {{ block.super }}{% endblock %}


{% block starthead %}
{% blancpage_head %}
{% endblock starthead %}


{% block startbody %}
{% blancpage_startbody %}
{% endblock startbody %}


{% block bodyclass %}{{ block.super }} {% if blanc_page.show_controls %}blanc-page-controls{% endif %}{% endblock %}


{% block nav %}
{% include 'includes/nav.html' with current_page=blanc_page.page only %}
{% endblock nav %}
