.quote-block {
    position: relative;
    margin: 5rem 1rem 3rem 3rem;
    font-size: 1.25rem;
    line-height: 1.875rem;

    .quote-block__citation {
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: none;
        margin-top: 1rem;
        line-height: 1.5;

        small {
            display: block;
            font-size: 0.875rem;
            font-weight: 500;
        }
    }

    &::before {
        content: '\201C';
        position: absolute;
        left: -2rem;
        top: -2rem;
        font-size: 4rem;
    }

    @include desktop {
        margin: 6rem 5.5rem 4rem 8.5rem;
        font-size: 1.75rem;
        line-height: 2.625rem;

        &::before {
            left: -3.5rem;
            top: -3rem;
            float: left;
            font-size: 6rem;
        }
    }
}
