<input type="checkbox" id="nav-toggle" class="sr__input">
<div class="header__container container">
  <a href="/" class="header__logo logo"></a>

  <div class="nav--desktop">
    <ul>
      <li><a href="/">link</a></li>
      <li><a href="/">link</a></li>
      <li><a href="/">link</a></li>
      <li><a href="/">link</a></li>
    </ul>
  </div>

  <label for="nav-toggle" class="nav-toggle">
    <div class="nav-toggle__open">
      <div class="sr__label">Menu</div>
      <svg class="icon">
        <use xlink:href="#menu" />
      </svg>
    </div>
    <div class="nav-toggle__close">
      <div class="sr__label">Close menu</div>
      <svg class="icon">
        <use xlink:href="#close" />
      </svg>
    </div>
  </label>
</div>

<div class="nav--mobile">
  <ul>
    <li><a href="/">link</a></li>
    <li><a href="/">link</a></li>
    <li><a href="/">link</a></li>
    <li><a href="/">link</a></li>
  </ul>
</div>
