{% load staticfiles wagtailimages_tags %}

<meta name="viewport" content="width=device-width,initial-scale=1">
<meta itemprop="name" content="{{ request.site.site_name }}">

<meta property="og:title" content="{{ page.title }} - {{ request.site.site_name }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}" />
<meta property="og:site_name" content="{{ request.site.site_name }}" />

<meta name="twitter:title" content="{{ page.title }} - {{ request.site.site_name }}">
<meta name="twitter:card" content="summary_large_image">

{% if settings.settings.SocialAccounts.twitter_handle %}
  <meta name="twitter:site" content="{{ settings.settings.SocialAccounts.twitter_handle }}">
  <meta name="twitter:creator" content="{{ settings.settings.SocialAccounts.twitter_handle }}">
{% endif %}

{% if page.share_description %}
  <meta name="description" content="{{ page.share_description }}" />
  <meta name="twitter:description" content="{{ page.share_description }}">
  <meta itemprop="description" content="{{ page.share_description }}">
  <meta property="og:description" content="{{ page.share_description }}" />
{% else %}
  <meta name="description" content="{{ settings.settings.ShareMeta.default_share_description }}" />
  <meta name="twitter:description" content="{{ settings.settings.ShareMeta.default_share_description }}">
  <meta itemprop="description" content="{{ settings.settings.ShareMeta.default_share_description }}">
  <meta property="og:description" content="{{ settings.settings.ShareMeta.default_share_description }}" />
{% endif %}

{% if page.share_image %}
  {% image page.share_image fill-1200x630 as share_image %}
  <meta property="og:image" content="{{ share_image.url }}" />
  <meta name="twitter:image" content="{{ share_image.url }}">
  <meta itemprop="image" content="{{ share_image.url }}">
{% elif page.image %}
  {% image page.image fill-1200x630 as page_image %}
  <meta property="og:image" content="{{ page_image.url }}" />
  <meta name="twitter:image" content="{{ page_image.url }}">
  <meta itemprop="image" content="{{ page_image.url }}">
{% else %}
  {% image settings.settings.ShareMeta.default_share_image fill-1200x630 as default_share_image %}
  <meta property="og:image" content="{{ default_share_image.url }}" />
  <meta name="twitter:image" content="{{ default_share_image.url }}">
  <meta itemprop="image" content="{{ default_share_image.url }}">
{% endif %}
