<input type="checkbox" id="nav_toggle" class="sr__input">
<div class="nav">
  <div class="container">
    <div class="nav__brand">
      <a href="/" class="page__logo"></a>
    </div>

    <div class="nav__primary">
      <ul>
        <li><a href="/">link</a></li>
        <li><a href="/">link</a></li>
        <li><a href="/">link</a></li>
        <li><a href="/">link</a></li>
      </ul>
    </div>

    <label for="nav_toggle" class="nav__toggle">
      <span class="nav__open">
        menu
        <svg class="icon">
          <use xlink:href="#menu" />
        </svg>
      </span>
      <span class="nav__close">
        close
        <svg class="icon">
          <use xlink:href="#close" />
        </svg>
      </span>
    </label>

  </div>
</div>

<div class="nav__mobile">
  <ul>
    <li><a href="/">link</a></li>
    <li><a href="/">link</a></li>
    <li><a href="/">link</a></li>
    <li><a href="/">link</a></li>
  </ul>
</div>
